
 .container {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 width: 100%;
	 margin: 20px 0 80px;
}
 .card {
	 width: 350px;
	 margin: 10px;
}
 .card:hover .card__caption {
	 top: 50%;
	 transform: translateY(-50%);
}
 .card:hover .card__image {
	 transform: translateY(-10px);
}
 .card:hover .card__thumb::after {
	 top: 0;
}
 .card:hover .card__snippet {
	 margin: 20px 0;
}
 .card__thumb {
	 position: relative;
	 max-height: 400px;
	 overflow: hidden;
}
 @media (min-width: 1024px) {
	 .card__thumb {
		 max-height: 500px;
	}
}
 .card__thumb::after {
	 position: absolute;
	 top: 0;
	 display: block;
	 content: '';
	 width: 100%;
	 height: 100%;
	 background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
	 transition: 0.3s;
}
 @media (min-width: 1024px) {
	 .card__thumb::after {
		 top: calc(100% - 140px);
	}
}
 .card__image {
	 transition: 0.5s ease-in-out;
}
 .card__caption {
	 position: absolute;
	 top: 50%;
	 z-index: 1;
	 padding: 0 20px;
	 color: white;
	 transform: translateY(-50%);
	 text-align: center;
	 transition: 0.3s;
}
 @media (min-width: 1024px) {
	 .card__caption {
		 top: calc(100% - 110px);
		 transform: unset;
	}
}
 .card__title {
	 display: -webkit-box;
	 max-height: 85px;
	 overflow: hidden;
	 font-family: 'Playfair Display', serif;
	 font-size: 23px;
	 line-height: 28px;
	 text-shadow: 0px 1px 5px black;
	 text-overflow: ellipsis;
	 -webkit-line-clamp: 3;
	 -webkit-box-orient: vertical;
}
 .card__snippet {
	 display: -webkit-box;
	 max-height: 150px;
	 margin: 20px 0;
	 overflow: hidden;
	 font-family: 'Roboto', sans-serif;
	 font-size: 16px;
	 line-height: 20px;
	 text-overflow: ellipsis;
	 transition: 0.5s ease-in-out;
	 -webkit-line-clamp: 5;
	 -webkit-box-orient: vertical;
}
 @media (min-width: 1024px) {
	 .card__snippet {
		 margin: 60px 0;
	}
}
 .card__button {
	 display: inline-block;
	 padding: 10px 20px;
	 color: white;
	 border: 1px solid white;
	 font-family: 'Roboto', sans-serif;
	 font-size: 12px;
	 text-transform: uppercase;
	 text-decoration: none;
	 transition: 0.3s;
}
 .card__button:hover {
	 color: black;
	 background-color: white;
}
 .disclaimer {
	 position: fixed;
	 bottom: 0;
	 left: 50%;
	 z-index: 2;
	 box-sizing: border-box;
	 width: 100%;
	 padding: 20px 10px;
	 background-color: white;
	 transform: translateX(-50%);
	 font-family: 'Roboto', sans-serif;
	 font-size: 14px;
	 text-align: center;
}
 .disclaimer__link {
	 color: #755d87;
	 text-decoration: none;
}
 