@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');

html {
  height: 100%; 
  overflow-x: hidden;
}

.header {
  padding: 1%;
  position: relative;
  text-align: left;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #333;
}

.header-logo {
  cursor: pointer;
  margin: 0px;
  display: inline;
}

.header-logo p {  
  display: inline;
  position: absolute;
  font-size: x-large;
  padding-left: 120px;
}

.header-user {
  cursor: pointer;
  margin: 0%;
  float: right;
  padding-right: 2%;
  display: inline;
}

.header-user-link {
  padding-top: 20px;
}

.download-pdf {
  position: fixed;
  bottom: 8%;
  right: 5%;
  font-size: xx-large;
  border-radius: 50%;
  border: #fff 3px solid;
  width: 1.5em;
  height: 1.5em;
  background-color: #666;
  color: #fff;
}

.download-pdf:hover {
  cursor: pointer;
  background-color: #333;
  color: #99ebff;
  border: #99ebff 3px solid;
}

body {
  text-align: center;
  height:100%;
  min-height: 100%;
  background: #bfbfbf;
  color: white;
  position:relative;
  font-family: 'Raleway', sans-serif;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
}

h1 {
  color: #333;
}

label {
  color: #333;
}

.button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  background-color: #333;
  color: white;
  border: 2px solid white;
  width: 7em;
  height: 2em;
  border-radius: 1em;
}

.button:hover {
  background-color: #4d4d4d;
  color: #99ebff;
  border: 2px solid #99ebff;
}

.button:disabled {
  background-color: #bfbfbf;
  color: white;
  border: 2px solid white;
  border-radius: 1em;
}
.button:disabled:hover {
  cursor: default;
}

.modal-input {
  width: 97%;
  margin-bottom: 15px;
}

.date-input {
  max-width: 300px;
}

.create-vehicle-container {
  display: flex;
  margin-top: 15px;
}

.list-card {
  border: 1px solid white;
  margin: 1%;
  padding: 1%;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-card-main-content {
  text-align: left;
}

.ModalOpen {
   /* display: none; */
    animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
   animation: closeModal 0.4s ease-out forwards;
   display: none; 
}