/* Create two columns/boxes that floats next to each other */
.navigation {
  position: relative;
  display: inline;
  float: left;
  height: 100%;
  width: 20%;
}

/* Style the list inside the menu */
nav ul {
  margin-left: 1em;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-top: 1em;
}

.content {
  display: inline;
  float: right;
  height: 100%;
  width: 80%;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

/* ------------- navigation styling ------------- */

.list-item{
  background: #666;
  color: #575757;
  text-align: center;
  height: 2.5em;
  width: 7em;
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  transition: all 0.25s linear;
}

.list-item:hover{
  cursor: pointer;
  background: #00ccff;
  color: #fffcfb;
  transform: translate(0.9em, -0.9em);
  -webkit-transform: translate(0.9em, -0.9em);
  transition: all 0.25s linear;
}

.list-item:hover::before,.list-item:hover::after{
  transition: all 0.25s linear;
}

.list-item:hover::before{
  background: #99ebff;
  width: 1em;
  top: 0.5em;
  left: -1em;
}

.list-item:hover::after{
  background: #99ebff;
  width: 1em;
  bottom: -4em;
  left: 2.5em;
  height: 7em;
}

.list-item::before, .list-item::after{
  content: '';
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5em;
}

.list-item::after{
  height: 7em;
  background: #4d4d4d;
  bottom: -3.75em;
  left: 3em;
  transform: rotate(90deg) skew(0, 45deg);
  -webkit-transform: rotate(90deg) skew(0, 45deg);
}

.list-item::before{
  height: 2.5em;
  background: #4d4d4d;
  top: 0.25em;
  left: -0.5em;
  transform: skewY(-45deg);
  -webkit-transform: skewY(-45deg);
}
