.login-page-container {
  display: grid;
  place-items: center;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 1px 1px 50px grey;
  width: fit-content;
  grid-row-gap: 10px;

  margin: auto;
  width: 50%;
  padding: 10px;

  margin-top: 30px;
}

input {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,.1);
  transition: all 0.2s ease-in-out;
}

.login-form{
  align-items: center;
  text-align: center;
  width: auto;
}

input {
  margin: 2px;
  color: black;
}

input.invalid-untouched {
  border: 1px solid black;;
}

input.touched {
  border-radius: 5px;
}

input.valid-touched {
  border: 5px solid green;
}

input.invalid-touched {
  border: 5px solid red;
}

.errMsg{
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

.msg{
  background: greenyellow;
  color: #fff;
  padding: 5px;
  margin: 5px;
}