.inline {
  display: inline;
}

.navigation {
  padding-top: 5%;
}

.page-title {
  display: inline;
  float: left;
  margin-bottom: 0%;
  margin-left: 1%;
}

.sort-select {
  float: right;
  margin-right: 3%;
  margin-top: 5%;
}

.custom-select-customers {
  font-family: 'Raleway', sans-serif;
  font-size: small;
  background-color: #bfbfbf; 
  width: 5em;
  height: 1.5em;
  margin-right: 3%;
  margin-top: 5%;
}

.sort-customer-button {
  color: #333;
  display: inline;
  float: right;
  margin: 1%;
  padding-right: 1em;
  margin-right: 5%;
  margin-top: 5.5%;
}

.sort-customer-button:hover {
  cursor: pointer;
}

.line {
  width: 100%;
  border: 1px solid white;
}

.cars {
  padding: 0;
  list-style: none;
  text-align: left;
}

.single-car {
  border: 1px solid white;
  margin: 1%;
  padding: 1%;
}
/* ------------------- User Links  ----------------------------- */

.user-link {
  cursor: pointer;
  margin: 0%;
  float: right;
  padding-right: 2%;
}

.user-link-img {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.user-link-name {
  font-size: large;
  display: inline;
}

.user-link-name:hover {
  color: #99ebff;
}

/* ------------------- Shop Visits ------------------------------------ */

.history-single-shop-visit {
  border: 1px solid white;
  background-color: #666;
  margin: 1%;
  padding: 1%;
  color: #fff;
}

.history-service {
  display: inline;
  color: #99ebff;
}

.history-vehicle {
  display: inline;
}

.history-date {
  display: inline;
  color: #99ebff;
}

.hssv-button {
  font-size: small;
  cursor: pointer;
}  

.hssv-button:hover {
  cursor: pointer;
  color: #000;
}  

.pdf-button {
  font-size: x-small;
  width: 7em;
  height: 2em;
  float: right;
}

/* ------------------ Employee: Customers Page ------------------------- */
.customer {
  cursor: pointer;
  font-size: small;
  border: 1px solid white;
  margin: 1%;
  padding: 1%;
  color: white;
}

.customer:hover {
  cursor: default;
  background-color: #666;
  color: #99ebff;
}

.name {
  display: inline;
  margin-left: 1%;
  color: #333;
}

.customer:hover .name {
  color: white;
}

.email {
  display: inline;
  float: right;
  margin: 0px;
  padding-right: 2%;
}

.phone {
  display: inline;
  margin: 0%;
  padding: 1%;
  color: #333;
}

.customer:hover .phone {
  color: white;
}

.customer-button {
  display: inline;
  float: right;
  margin: 1%;
  padding-right: 1em;
}

.customer-button:hover {
  cursor: pointer;
}

.shop-visits{
  font-size: small;
  margin: 1%;
  padding: 1%;
  color: white;
  background-color: grey;
}

.single-shop-visit{
  font-size: x-small;
  background-color: grey;
}

.ssv-service {
  display: inline;
}

.no-results {
  color: #333;
}

.search-bar {
  width: 60%;
  margin-left: 20%;
}

.ssv-button {
  font-size: small;
  cursor: pointer;
}
.ssv-button:hover {
  cursor: pointer;
  color: #99ebff;
}

/* --------------- Update Profile: ---------------------- */
.update-profile-form {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template: 3;
  text-align: center;
}

.image-frame {
  text-align: center;
  transition: all 0.2s ease-in-out;
  grid-row-gap: 10px;
  justify-content: center;
  align-content: center;
}

.user-photo {
  transition: all 0.2s ease-in-out;
  grid-row: 1/2;
  grid-column: 1/ span 2;
  height: auto;
  width: 10em;
  border-radius: 50%;
}

.image-input {
  display: none;
}

.image-input-label {
  padding: 1%;
}

.update-user-form {
  transition: all 0.2s ease-in-out;
  grid-row-gap: 10px;
  justify-content: center;
  text-align: center;
}

.update-user-input {
  display: inline;
  margin: 1%;
  width: 20em;
}

#logout-btn {
  margin-left: 10%;
}
/* ------------------------ New Visit / Custom Visit: ------------------------------ */

.new-visit-container {
  margin-left: 10%;
  width: 80%;
  background-color: #a6a6a6;
  padding: 1%;
}

.new-visit-text {
  padding-right: 2em;
  color: #333;
}

.new-visit-select {
  margin-right: 3%;
  float: right;
}

.new-visit-price {
  padding-left: 3%;
  float: left;
}

.custom-select {
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  width: 10em;
  height: 2em;
}

.custom-visit-input {
  display: inline;
  width: 20em;
}

.home-navs {
  display: inline;
  list-style: none;
}

.home-link {
  color: #333;
  padding: 5%;
}

.home-link:hover {
  color: #666;
}

.home-link-selected {
  color: #666;
}

.home-title {
  display: inline;
}

.home-link {
  display: inline;
  width: 5em;
}

.home-content {
  margin-left: 2%;
  background-color: #a6a6a6;
  padding: 2%;
  display: inline-block;
  height: auto;
  width: 40%;
  color: #666;
}

.home-pic {
  position: relative;
  top: 70px;
  height: 20em;
  width: auto;
}

.gallery-content {
  margin: 5%;
  background-color: #a6a6a6;
  padding: 2%;
  display: inline-block;
  height: auto;
  width: 80%;
  color: #666;
}

.about-content {
  margin: 5%;
  background-color: #a6a6a6;
  padding: 2%;
  display: inline-block;
  height: auto;
  width: 80%;
  color: #666;
}

.about-person {
  list-style: none;
}

.about-person li {
  display: inline;
}

.person {
  display: inline-block;
  width: 30%;
  margin: 3%;
}

.contact-us-text {
  background-color: #a6a6a6;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  width: 20em;
  height: 5em;
}

.user-home {
  margin: 5%;
}

.user-home-img {
  width: 40%;
  height: auto;
}